body {
  background-color: #A6B1E1;
  color: #0A090C;
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

body, main, section, .trip-block, .overview, #inputBlock {
  display: flex;
}

body, main, section {
  align-items: center;
  justify-content: center;
}

section, .trip-block {
  flex-direction: column;
}

img {
  height:50%;
  width:80%;
}

button {
  border: 3px solid white;
  background-color: #B4869F;
  height: 25px;
  width: 60px;
}

#dashboard, #login {
  background-color: #4E4C67;
}

.trip-block {
  width: 20vw;
  background-color: #DCD6F7;
  overflow: scroll;
}

.hidden {
  display: none;
}

.overview {
  flex-direction: row;
  justify-content: space-around;
  height: 65%;
  width: 75%;
}

#inputBlock {
  justify-content: space-evenly;
}

#login {
  height: 30%;
  justify-content: space-evenly;
  width: 30%;
}

#dashboard {
  width: 90%;
  height: 600px;
}

#costDisplay {
  background-color: white;
  color:  #0A090C;
  margin: 0;
  height: 25px;
  width: 300px;
}

#welcome {
  color: white;
}