body {
  background-color: #A6B1E1;
  color: #0A090C;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100vw;
}

body, main, section {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  flex-direction: column;
}

button {
  border: 3px solid white;
  background-color: #B4869F;
  height: 15%;
  width: 15%;
}

#dashboard, #login {
  background-color: #4E4C67;
}

.trip-block {
  background-color: #DCD6F7;
  overflow: wrap;
}

.hidden {
  display: none;
}

.overview {
  justify-content: space-around;
}

#login {
  height: 30%;
  justify-content: space-evenly;
  width: 30%;
}