body {
  background-color: #A6B1E1;
  color: #0A090C;
  /* periwinkle: #DCD6F7;
  mauve: #B4869F; 
  dark purple: #4E4C67; */
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

body, #login {
  display: flex;
}

#login {
  flex-direction: column;
  height: 30%;
  width: 30%;
}

.hidden {
  display: none;
}